<h1>Reynand Rxjs Most Used.</h1>

<div *ngIf="data$ | async as data">
  <div *ngFor="let user of data.user">
  {{user.name}}
</div>
  ---
 <div *ngFor="let username of data.usernames">
  {{ username }}
</div> 
  ---
 <div *ngFor="let user of data.filteredUsers">
  {{ user.name }}
</div>
</div>

<!-- async pipe - subcribe to stream and convert to plain data -->
<!-- <div *ngFor="let user of users$ | async">
  {{user.name}}
</div>

<br> -->

<!-- async pipe - subcribe to stream of username -->
<!-- <div *ngFor="let username of usernames$ | async">
  {{ username }}
</div> -->

<!-- <div *ngFor="let user of filteredUsers$ | async">
  {{ user.name }}
</div> -->

<!-- Calling using behavioral Subject -->
<!-- <div *ngIf="user$ | async as user">
  {{ user.name}}
</div> -->
